from {{ project_name }}.settings.dev import *

# Add local overrides here

# This configures any extra content types inside compress tags, and will automaticaly
# precompile it for you.
#
# These assume you have coffeescript and less installed with nodejs npm command
# Note: less installed using ruby doesn't work as well.
#COMPRESS_PRECOMPILERS = (
#    ('text/coffeescript', '<PATH_TO>/coffee --compile --stdio'),
#    ('text/less', '<PATH_TO>/lessc {infile} {outfile}'),
#)

