django >=1.4
docutils >=0.9
django-compressor >=1.1
django-devserver >=0.3
django-nose
coverage
pinocchio
Jinja2
coffin

# django-celery >=3.0, <3.1
# south >=0.7, <0.8
# django-tastypie >=0.9, <1.0

# Some recommended packages:

# Memcached
# python-memcached >= 1.47

# PostgreSQL DB driver
# psycopg2

# MySQL DB driver
# python-mysql
