django >=1.4
docutils >=0.9
django-devserver >=0.3
django-compressor >=1.1

# Nose testing framework, just install these packages and the project will use the nose testing framework by default
# django-nose
# nose-cov
# pinocchio

# Optional HAML support
# git+ssh://git@github.com/chartjes/djaml.git#egg=djaml

# django-celery >=3.0, <3.1
# south >=0.7, <0.8
# django-tastypie >=0.9, <1.0

# Some recommended packages:

# Memcached
# python-memcached >= 1.47

# PostgreSQL DB driver
# psycopg2

# MySQL DB driver
# python-mysql
