django >=1.4
docutils >=0.9
django-devserver >=0.3

# Nose testing framework, just install these packages and the project will use the nose testing framework by default
#django-nose
#nose-cov
#pinocchio

# Oprional django-compressor (inline staticfile compression) support
#django-compressor >=1.1

# Optional HAML support
#git+ssh://git@github.com/chartjes/djaml.git#egg=djaml

# Optional Celery (Distributed task queue) support
#django-celery >=3.0, <3.1

# Optional South (Database Migration util) support
#south >=0.7, <0.8

# Some recommended packages:

# Memcached
#python-memcached >= 1.47

# PostgreSQL DB driver
#psycopg2

# MySQL DB driver
#python-mysql
